{% import "form.macro.twig" as forms %}

{% set allowed_country = get_setting('withdraws_setting_country') %}
{% set pin_text = get_setting('withdraws_setting_pin_text') %}

<h1 class="component-header"> Edit Withdraw Settings</h1>


<form id="{{ main_form_id }}" class="form-horizontal" action="{{ generate_url('withdraws.settings.save') }}" method="post" role="form"  enctype="multipart/form-data">

    {% if not allowed_country or user.country_id == allowed_country  %}
        
        {% if get_setting('withdraws_hide_government_pin') or get_setting('withdraws_hide_id_passport')  %}
            <div class="well well-sm"> Withdraws Detail</div>
        {% endif %}
        <div>
            <div class="col-md-9">

                {% if get_setting('withdraws_hide_government_pin')  %}
                    {% if item.pin == ''  %}
                        {{ forms.input('pin', 'text', item.pin, pin_text)  }}
                    {% else %}
                        {{ forms.input('pin', 'text', item.pin, pin_text, null, null, 'readonly="readonly"')  }}
                    {% endif %}
                {% endif %}

                {% if get_setting('withdraws_hide_id_passport')  %}
                    {% if item.id_passport == '' %}
                        {{ forms.input('id_passport', 'text', item.id_passport, 'Id or Passport')  }}
                    {% else %}
                        {{ forms.input('id_passport', 'text', item.id_passport, 'Id or Passport', null, null, 'readonly="readonly"')  }}
                    {% endif %}
                {% endif %}


            </div>
        </div>
    {% endif %}

    <div class="clearfix"></div>
    <div class="well well-sm"> Payment Gateways Detail</div>
    <div class="col-md-9">
        <div class="form-group payment-gateways-group">

            <label for="payment-gateways" class="col-sm-12">Payment Gateway</label>

            <div class="col-sm-12">

                {% for gateway in gateways %}
                    <input class="selected_gateways" type="checkbox" name="form[selected_gateways][]" value="{{ gateway.id }}" short_name="{{ gateway.short_name }}" {% if gateway.selected %}checked="checked"{% endif %}>
                    {{ gateway.long_name }}
                {% endfor %}

                <div class="payment-gateways">
                    {% for gateway in gateways %}
                        <div class="payment-gateway gateway-{{ gateway.short_name }}" {% if not gateway.selected %}style="display:none;"{% endif %}> 
                            <h4>{{ gateway.long_name }}</h4>
                            {% for setting in gateway.params %}
                                <div class="form-group {{ setting.name }}-group">

                                    {% set param_field_name = 'gateways.' ~ gateway.id ~ '.params.' ~ setting.name %}

                                    <div class="col-sm-12">
                                        <label for="{{ setting.name }}" class="col-sm-3">{{ setting.label }}</label>
                                        <div class="col-sm-9 kazicode-form-field ">

                                            {% if setting.value %}
                                                {% set setting_readonly = 'readonly="readonly"' %}
                                            {% endif %}

                                            {% if setting.tooltip %}
                                                <i class="fa fa-info-circle"></i>
                                                {% if setting.tooltip_setting %}
                                                    {{ get_setting('kopokopo_payments_tooltip_instructions')|raw }}
                                                {% else %}
                                                    <small>{{ setting.tooltip|raw }}</small>
                                                {% endif %}
                                            {% endif %}

                                            {{ forms.input(param_field_name , setting.type, setting.value, null, null, null, setting_readonly, null, setting.options) }}
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>

    {{ forms.input('id', 'hidden', item.id, 'Id')  }}

    <div class="withdraw-instructions bg-red text-center">
        <b>NOTE:</b> Record Once submited will only be modified by Administrator.<br>
        <a class="btn btn-warning" href="{{  generate_url('tickets.tickets.add') }}">
            <i class="fa fa-support"></i>
            Contact Administrator
        </a>
    </div>
    <br>

    <div class="text-center registration-buttons">
        <input class="btn btn-success btn-sm" type="submit" name="submit" value="Update Detail" />
        <a class="btn btn-danger btn-sm">Cancel</a> 
    </div>

    {{ forms.input('_token' ) }} 

</form>

<script>

    jQuery(document).ready(function () {

        jQuery('input.selected_gateways').click(function () {

            var gateway_short_name = jQuery(this).attr('short_name');
            processGateway(gateway_short_name);

        });

    });


    function processGateway(gateway_short_name) {
        jQuery('.gateway-' + gateway_short_name).toggle();
    }

</script>





