{# empty Twig template #}

{% set gateways = get_context('gateways') %}

<div class="form-group payment-gateways-group">

    <label for="payment-gateways" class="col-sm-12">Payment Gateway</label>

    <div class="col-sm-12">

        {% for gateway in gateways %}
            <input class="selected_gateways" type="checkbox" name="form[selected_gateways][]" value="{{ gateway.id }}" short_name="{{ gateway.short_name }}" {% if gateway.selected %}checked="checked"{% endif %}>
            {{ gateway.long_name }}
        {% endfor %}

        <div class="payment-gateways">
            {% for gateway in gateways %}
                <div class="payment-gateway gateway-{{ gateway.short_name }}" {% if not gateway.selected %}style="display:none;"{% endif %}> 
                    <h4>{{ gateway.long_name }}</h4>
                    {% for setting in gateway.params %}
                        <div class="form-group {{ setting.name }}-group">

                            {% set param_field_name = 'gateways.' ~ gateway.id ~ '.params.' ~ setting.name %}

                            <div class="col-sm-12">
                                <label for="{{ setting.name }}" class="col-sm-3">{{ setting.label }}</label>
                                <div class="col-sm-9 kazicode-form-field ">

                                    {% if setting.value %}
                                        {% set setting_readonly = 'readonly="readonly"' %}
                                    {% endif %}

                                    {% if setting.tooltip %}
                                        <i class="fa fa-info-circle"></i>
                                        {% if setting.tooltip_setting %}
                                            {{ get_setting('kopokopo_payments_tooltip_instructions')|raw }}
                                        {% else %}
                                            <small>{{ setting.tooltip|raw }}</small>
                                        {% endif %}
                                    {% endif %}

                                    {{ forms.input(param_field_name , setting.type, setting.value, null, null, null, null, null, setting.options) }}
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>

    jQuery(document).ready(function () {

        jQuery('input.selected_gateways').click(function () {

            var gateway_short_name = jQuery(this).attr('short_name');
            processGateway(gateway_short_name);

        });

    });


    function processGateway(gateway_short_name) {
        jQuery('.gateway-' + gateway_short_name).toggle();
    }

</script>      

