
{{ set_assets('applications/Withdraws/Addons/Withdraws/assets/css/withdraws.css') }}

<div class="withdraws">

    <div class="table-responsive">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th align="left">User</th>
                    <th>Description</th>
                    <th>Gateway</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Canceled</th>
                </tr>
            </thead> 

            <tbody>
                {% if items|length>0 %}
                    {% for item in items %}
                        <tr>
                            <td>{{ item.user_id_name }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.gateway_id_long_name }}</td>
                            <td align="right">{{ item.amount ? item.amount|number_format(2) }}</td>
                            <td>{{ item.date_created ? item.date_created|date('d M Y H:i:s',  document.timezone) }}</td>
                            <td>
                                {% if item.is_canceled %}
                                <label class="label label-default">Yes</label>
                                {% else %}
                                <label class="label label-danger">No</label>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>

    <div class="clearfix"></div>
    <br>
</div>