{# empty Twig template #}
{% import "form.macro.twig" as forms %}

{{ set_assets('assets/js/recordpicker_main.js') }}

{% if view_side == 'frontend' %}
    <h1 class="component-header"> Withdraw </h1>
{% endif %}

<form id="{{ main_form_id }}" action="{{ generate_url('admin.withdraws.withdraws') }}" method="post" >
    <div class="table-responsive">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>User</th>
                    <th>Gateway</th>
                    <th>Paid Status</th>
                    <th>Cancelled</th>
                    <th align="right">Amount</th>
                    <th align="right">Date</th>
                    <th align="center">Action</th>
                </tr>
            </thead> 
            <tbody>

                {% if items|length>0 %}

                    {% for item in items %}
                        <tr >
                            <td class="dropdown">

                                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" href="#" title="More Actions"> 
                                    <span class="glyphicon glyphicon glyphicon-cog"></span>&nbsp; <span class="caret"></span> 
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        {% if not item.is_canceled %}
                                            <a href="{{ generate_url('admin.withdraws.withdraws.reversewithdraw', {'id':item.id}) }}" title="Reverse Withdrawal">Reverse Withdrawal</a>
                                        {% else %}
                                            Reversed (done only once)
                                        {% endif %}
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">
                                        Id : {{ item.id }}
                                    </li>
                                </ul>
                            </td>

                            <td>
                                {{ item.user_id_name }}({{ item.user_id_username }})
                                <div class="dropdown affiliate-email-dropdown">
                                    <a class= dropdown-toggle" data-toggle="dropdown" href="#" title="More Actions"> 
                                        <span class="affiliate-email">{{ item.user_id_email }}</span> 
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">
                                            <input type="text" name="none" value="{{ item.user_id_email }}">
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>{{ item.gateway_id_long_name }}</td>
                            <td class="text-center">
                                {% if item.paid_status %}
                                    <label class="label label-success">Yes</label>
                                {% else %}
                                    <label class="label label-danger">No</label>
                                {% endif %} 
                            </td>
                            <td class="text-center">
                                {% if item.is_canceled %}
                                    <label class="label label-success">Yes</label>
                                {% else %}
                                    <label class="label label-default">No</label>
                                {% endif %} 
                            </td>
                            <td align="right">{{ item.amount|number_format(2) }}</td>
                            <td align="right">{{ item.date_created ? item.date_created|date('d M Y H:i:s',  document.timezone) }}</td>
                            <td align="right">

                                <a class="btn btn-default btn-sm add-recordpicker" href="{{ url('admin.affiliates.affiliates', {'inviter_id':item.user_id}) }}" target="_blank">
                                    <i class="fa fa-users"></i>
                                </a>

                                <a class="btn btn-default btn-sm add-recordpicker" href="{{ url('admin.payments.transactions', {'user_id':item.user_id}) }}" target="_blank">
                                    <i class="fa fa-money"></i>
                                </a>


                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>


    <div class="clearfix"></div>

    {% include "items.pagination.twig"%}

    {% include "form.hidden.twig" %}

    {{ forms.input('_token' ) }}  

</form>




