{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Withdraws/assets/js/withdraws.js') }}

{% set available_amount = subscriber.money_in - subscriber.money_out %}

<h1> Withdrawal Fund</h1>
<hr>

<form id="{{ main_form_id }}" class="form-horizontal" action="{{ generate_url('withdraws.withdraws.invoice') }}" method="post" role="form"  enctype="multipart/form-data">


    <div class="alert alert-danger">
        Minimum withdrawal is <b>${{ minimum_amount }}</b>. For Withdrawal To Work Ensure You Leave <b>$2</b> Balance.
    </div>
    <div>
        <div class="col-md-9">

            {{ forms.input('amount', 'text', null, 'Amount')  }}

            {% if gateways|length > 1 %}
                {{ forms.input('gateway_id', 'radio', null, 'Gateway', null, null, null, null, gateways)  }}
            {% else %}
                {{ forms.input('gateway_id', 'hidden', gateways.0.value) }}
            {% endif %}
        </div>
    </div>



    <div class="clearfix"></div>
    {{ forms.input('user_id', 'hidden', subscriber.id, 'id')  }}

    {% if available_amount > minimum_amount %}

        <div class="text-center bg-green">
            Available Amount is {{ available_amount|number_format(2) }}.
        </div>
        <br>

        <div class="col-md-12 alert bg-gray">
            <small>
                <div class="">
                    <label>{{ gateway.input_label }}: </label> {{ subscriber.phone }}
                </div>

                {% if subscriber.subscription.kra_pin != '' %}
                    <div class="">
                        <label>KRA Pin: </label> {{ subscriber.subscription.kra_pin }}
                    </div>
                {% endif%}

            </small>
        </div>

        <div class="text-center registration-buttons">
            <input class="btn btn-success btn-sm" type="submit" name="submit" value="Withdraw Fund" />
            <a class="btn btn-danger btn-sm" href="{{ generate_url('withdraws.withdraws.save') }}">Cancel</a> 
        </div>



    {% else %}
        <div class="text-center bg-red">
            Available Amount  {{ available_amount|number_format(2) }} is less than {{ minimum_amount|number_format(2) }}.
        </div>
        <br>
        <div class="text-center registration-buttons">
            <a class="btn btn-danger btn-sm" href="{{ generate_url('withdraws.withdraws') }}">Cancel</a> 
        </div>
    {% endif %}



    {% include "form.hidden.twig" %}

    {{ forms.input('_token' ) }} 

</form>

<style>


    .inviter_detail_name{
        font-weight: bold;
    }

    .location_id-group{
        display: none;
    }

    .inviter_detail-group #date_arr{
        width: 50px;
        display: inline-block;
    }
    .inviter_detail-group #month_arr{
        width: 100px;
        display: inline-block;
    }
    .inviter_detail-group #year_arr{
        width: 80px;
        display: inline-block;
    }
</style>



