{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{% set search = document.search %}

<h1 class="component-header"> Withdraw </h1>

<form id="{{ main_form_id }}" action="{{ generate_url('withdraws.withdraws') }}" method="post" >

    <div class="col-sm-12">
        <div class="col-sm-2">
            <b>Gateway</b><br>
            {{ forms.input(' search.gateway_id', 'select', search.gateway_id, null, null, null, null, null, gatewaysinput  ) }}
        </div>
        <div class="col-sm-2">
            <b>Status</b><br>
            {{ forms.input(' search.paid_status', 'select', search.paid_status, null, null, null, null, null, paidinput  ) }}
        </div>
        <div class="col-sm-4">
            <b>Date Range</b><br>
            <div class="date_created_start_wrapper">
                {{ forms.input(' search.date_created.start', 'datetime', search.date_created.start ) }}
            </div>
            <div class="date_created_end_wrapper">
                {{ forms.input(' search.date_created.end', 'datetime', search.date_created.end ) }}
            </div>
        </div>
        <div class="col-sm-3">
            <b></b><br>
            <button class="btn btn-success btn-sm" type="submit" name="submit">Search</button>
            <button class="btn btn-default btn-sm" type="submit" name="clear" value="clear">Clear</button>
        </div>
    </div>

    <div class="clearfix"></div>
    <br>

    <div class="table-responsive">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Gateway</th>
                    <th>Paid Status</th>
                    <th>Date</th>
                    <th align="right">Amount</th>
                </tr>
            </thead> 
            <tbody>

                {% if items|length>0 %}

                    {% for item in items %}
                        <tr >
                            <td>{{ item.gateway_id_long_name }}</td>
                            <td>{% if item.paid_status %}Yes{% else %}No{% endif %}  </td>
                            <td>{{ item.date_created ? item.date_created|date('d M Y H:i:s',  document.timezone) }}</td>
                            <td align="right">{{ item.amount|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>

    {% include "items.pagination.twig"%}

    {% include "form.hidden.twig" %}

    {{ forms.input('_token' ) }} 

</form>

<style>
    .date_created_start_wrapper{
        width: 45% !important;
        float: left;
    }

    .date_created_end_wrapper{
        width: 45% !important;
        float: right;
    }
</style>
